__pycache__/Errors.cpython-311.pyc
__pycache__/Errors.cpython-312.pyc
__pycache__/Expressions.cpython-311.pyc
__pycache__/Expressions.cpython-312.pyc
__pycache__/Numbers.cpython-311.pyc
__pycache__/Numbers.cpython-312.pyc
__pycache__/Operators.cpython-311.pyc
__pycache__/Operators.cpython-312.pyc
__pycache__/Vars.cpython-311.pyc
__pycache__/Vars.cpython-312.pyc
